<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css" type="text/css" />
  <title>MVC With burgers!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  {{{ body }}}

  <script src="/burgers.js"></script>
</body>

</html>